main {
 padding-bottom: 50pt;

}




/* Footer angepasst für den Newsticker */
footer {
    text-align: center;
    background-color: #343a40;
    position: fixed;
    bottom: 0;
    height: 50pt;
    width: 100%;
    padding-bottom: 20pt;
    padding-top: 10pt;
    color: white;
    font-size: 18pt;
}


.row {

    padding: 5pt;

    margin-top: 10pt;
    margin-bottom: 10pt;
    margin-left: 5pt;
    margin-right: 5pt;

    text-align: center;

}

.btn-menu {
    width: 150pt;
    height: 150pt;
    padding: 4pt;

    background-size: cover;
    background-repeat: no-repeat;
    background-color: lightgray;
    font-size: 20pt;
    font-weight: 600;
    color: black;
    text-shadow: 1pt 1pt 1pt darkgray;
    transition: all .1s ease-in-out; /*legt fest, mit welcher Verzögerung der Übergang stattfindet */


}

/* color und scale hinzugefügt */
.btn-menu:hover{
    background-color: darkgray;
    color: black;
    transform: scale(0.99); /*Streckung des Buttons nach innen */
}

#btn-anmeldung {
    background-image: url(../img/anmeldung.png);
}

#btn-kalender {
    background-image: url(../img/kalender.png);
}

#btn-galerie {
    background-image: url(../img/gallerie.png);
}

#btn-songtexte {
    background-image: url(../img/note.png);
}

#btn-kontakte {
    background-image: url(../img/kontakt.png);
}

#btn-intern {
    background-image: url(../img/intern.png);
}
