@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
    font-family: 'Raleway', sans-serif;
}

.hidden{
    display: none;
}

.container > h1{
    margin-top: 2.2em;
    margin-bottom: 0.6em;
}

.container > h3{
    margin-top: 2.9em;
    margin-bottom: 0.6em;
}

.container > h4{
    margin-top: 1.4em;
    margin-bottom: 0.6em;
}

.container > a:hover{
    text-decoration: none;
}

.song{
    font-size: 1.7em;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: lightgray;
    padding: 0.5em;
    margin-bottom: 1em;
    width: 100%;
    color: rgba(25, 25, 25);
}

.song > .icon{
    font-size: 330%;
    display: inline-block;
}

.song > .icon > img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border: 1px;
    border-style: solid;
    border-color: lightgray;
    border-radius: 100%;
}

.song .title{
    font-weight: bold;
}

.song > .description{
    display: inline-block;
    margin-left: 1em;
}

.backbutton{
    margin-right: 1em;
}

.zoomInButton{
    position: fixed;
    top: 130px;
    right: 2%;
}

.zoomOutButton{
    position: fixed;
    top: 175px;
    right: 2%;
}

.autoscrollbutton{
    float: right;
    right: 120px;
}

.plusButton{
    float: right;
    right: 70px;
    margin-left: 0.5em;
}

.minusButton{
    float: right;
    right: 20px;
    margin-left: 0.5em;
}

#songtitle{
    display: inline-block;
}

#songtext > img{
    width: 117%;
    margin-left: -11%;
}

.zoom{
    width: 185%;
    margin-left: -30%;
}

@media only screen and (max-width:632px){
    .zoom{
        width: 185%;
        margin-left: -45%;
    }
}